//-default data
- const siteVersion = '0.0.0.0'
- const siteName = 'pug'
- const siteDescription = 'pug training'

//-array of message data(for training)
-
  const messageObj = [
    {
      name: 'Радько Петр',
      time: '15 марта 2022',
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, natus sunt sit quidem consequuntur molestias accusamus officiis commodi maxime quam blanditiis nostrum iste. Iure nam ducimus in assumenda aliquam dicta, qu'
    },
    {
      name: 'Иванов Иван',
      time: '08 апреля 2013',
      text: 'Lorem ipsum dolor sit amelanditiis nostrum iste. Iure nam ducimus in assumenda aliquam dicta,uidem consequuntur molestias accusamus officiis commodi maxime t consectetur adipisicing elit. Tenetur, natus sunt '
    },
    {
      name: 'Маленьков Лодырь',
      time: '26 декабря 2010',
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, natus sunt sit quidem consequuntur molestias accusamus officiis commodi maxime quam blanditiis nostrum iste. Iure nam ducimus in assumenda aliquam dicta,uidem consequuntur molestias accusamus officiis commodi maxime quam blanditiis nostrum iste. Iure nam ducimus in assumenda aliquam dicta, qu'
    },
  ]

//-another training data
-
  const content = {
      article1: 'Article 1',
      cont1: {
        article2: 'Article 2',
        article3: 'Article 3',
        cont2: {
          article4: 'Article 4'
        },
      },
      article5: 'Article 5'
  }