.class1 class1
//comment visible
//-comment invisible
p.someclass.
 lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora quo earum vitae ipsa quaerat nulla, pariatur et, commodi voluptas dignissimos aut voluptatibus similique perferendis sint dolorum maiores odit nam ex provident sequi animi? Enim, modi necessitatibus eos aliquid nihil debitis consectetur unde quas dolore autem suscipit, delectus voluptatum possimus inventore vero, ex perspiciatis. Fugiat provident quasi minus libero consectetur assumenda odio commodi, perspiciatis eos nihil mollitia corporis voluptatem voluptatibus voluptatum consequuntur recusandae quidem quae in rem reiciendis. Suscipit, corporis! Maxime saepe inventore provident porro hic! Iste labore, expedita est esse cum, natus possimus, ullam dolor vel fugiat eaque accusantium consequuntur.