//-Rainbow practice
-
  let rainbowColors = {
    red: 'red',
    orange: 'orange',
    yellow: 'yellow',
    green: 'green',
    lightblue: 'lightblue',
    blue: 'blue',
    violet: 'violet'
  }

.colors
  - let i = 0;
  each rainbValue, rainbKey in rainbowColors
    .colors__item(style={ background: rainbKey }, title=`${++i}`)= rainbValue.toUpperCase()