- const friends = 10;

ul
  //-default if
  if (friends > 10)
    li Очень много друзей
  else if (friends < 10)
    li Не очень много друзей
  else
    li Ровно #{friends} друзей


  //-case-when(like switch-case)
  case friends
    when 0
    when 1
    when 2
    when 3
      li Друзей - мало
    default
      li Достаточно общительный :)


  //-another default if
  if (friends + 1 == 5)
    li friends = #{friends + 1}
  else
    li friends != #{friends + 1}